@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bitter:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:'Balsamiq Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App-header {
  background:radial-gradient(rgba(33, 168, 135, 0.808),rgba(114, 71, 194, 0.808));
  min-height: 100vh;
  font-size: 1.5rem;
  color:white;
}

.start-btn{
  border: 2px solid rgb(228, 44, 81) ;
  border-radius: 25px;
  padding: 3px 24px;
  background-color: transparent;
  color: rgb(239, 253, 33);
}

.start-btn:hover{
  border: 2px solid transparent;
  color: rgb(239, 253, 33);
  background-color:rgb(228, 44, 81)
}
.quesBox{
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.575);
  color: black;
  padding: 20px;
}
